body {
    margin: 0;
    overflow-x:hidden;
    overflow-y: scroll;
    font-family: 'DM Sans', sans-serif;
}
textarea {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}
.main-container-app {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
.data-container-1 , .data-container-2, .data-container-3, .data-container-4{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.data-container-1 div, .data-container-2 div, .data-container-3 div, .data-container-4 div{
    width: 610px;
    height: 40px;
    margin: 5px;
}
.data-container-1 input, .data-container-2 select, .data-container-3 select, .data-container-4 select {
    float: right;
    width: 80%;
    height: 22px;
    margin-right: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
.data-container-2 select, .data-container-3 select, .data-container-4 select {
    font-size: 17px;
    height: 30px;
}
.data-container-1 span, .data-container-2 span, .data-container-3 span, .data-container-4 span {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}
.data-container-1 input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input-disable {
    background-color: white;
}
.add-accessories {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    padding-top: 10px;
}
/* second container app data form */
.main-container-app h2{
    text-align: center;
    background-color:#00adef;
    color: white;
    padding: 2px;
    font-size: 18px;
}
.data-container-2 select, .data-container-3 select, .data-container-4 select {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.data-container-4 select {
    width: 90%;
    text-align: center;
}
.data-container-4 span {
    margin-right: 10px;
}
.data-container-5 textarea {
    width: 95%;
    display: block;
    margin:  0 auto;
    outline: none;
    margin-top: 20px;
    padding: 10px;
}
.main-container-app button {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px;
    font-style: 15px;
    cursor: pointer;
    background-color: rgb(30, 219, 5);;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

/* panel modal window*/
.panel-window {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.container-add-items {
    width: 90%;
    height: 90%;
    background-color: white;
    margin: 0 auto;
    position: relative;
    margin-top: 25px;
    min-width: 200px;
}
.container-add-items header {
    width: 98%;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-add-items header input {
    width: 40%;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
}
.container-add-items header button {
    width: 15%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(30, 219, 5);
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 2px;
    font-size:16px;
    height:35px;
    padding-left:2px; 
    padding-right:5px;
}
.container-table {
    width: 98%;
    height: 90%;
    display: block;
    margin: 0 auto;
    overflow-y: scroll;
}
.table-style-items {
    width: 98%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;
}
.table-style-items th, tr, td{
    border: 1px solid #dddddd;
    text-align: center;
}
.table-style-items th {
    padding: 2px;
    background-color: #00adef;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.button-div-close {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-div-close button {
    width: 50%;
    cursor: pointer;
    background-color: rgb(30, 219, 5);
    border-radius: 2px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    font-size:16px;
    height:35px;
    padding-left:2px; 
    padding-right:5px;
    margin-bottom: 10px;
}
/*responsive main page app*/
@media screen and (max-width:1115px){
    .main-container-app {
        width: 100%;
    }
    .data-container-1 div {
        width: 100%;
        width: 520px;
    }
    .data-container-1 div:nth-of-type(5) {
        margin-left: 0;
        
    }
    .data-container-1 div:nth-of-type(5) span{
        margin-left: 0;
    }
    .data-container-1 div:nth-of-type(5) input{
        margin-right: 0;
    }
    .data-container-1 div:nth-of-type(6) {
        text-align: center;
    }
}
@media screen and (max-width:1080px){
    .data-container-1 div{
        width: 90%;

    }
}
/* app items responsive*/
@media screen and (max-width:865px){
    .container-add-items header {
        display:block;
        height:auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container-add-items header input{
        width: 95%;
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
    }
    .container-add-items header button {
        width: 200px;
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        float: left;
    }
    .container-table {
        height: 400px;
    }
    .container-table {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .container-add-items header {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .button-div-close button{
        display: inline;
        position: absolute;
        bottom: 10px;
        right: 20px;
        border: none;
        outline: none;
        width: 100px;
        height: 25px;
        padding: 10px;
        height: 35px;
    }
}
/* ends items responsive*/

@media screen and (max-width:837px){
    .data-container-1 {
        display:block;
    }
    .data-container-1 div {
        width: 100%;
    }
    .data-container-1 div:nth-of-type(5) span{
        margin-left: 15px;
    }
    .data-container-1 div:nth-of-type(5) input{
        margin-right: 5px;
    }
    .data-container-1 div input {
        text-align: center;
    }
    .data-container-2 select, .data-container-3 select, .data-container-4 select {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
    }
    .data-container-2 span, .data-container-3 span, .data-container-4 span {
        font-size: 18px;
    }
    .main-container-app h2 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
/* ends items responsive*/
@media screen and (max-width:590px) {
    .data-container-1 {
        display: block;
        position: relative;
    }
    .data-container-1 span{
        display: block;
        width: 100%;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
    }
    .data-container-1 input {
        display: block;
        float: none;
        width: 95%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .data-container-1 div {
        display:block;
        width:90%;
        margin:0;
        height: auto;
        padding-bottom:5px;
        float: none;
        margin: 0 auto;
    }
    .data-container-1 div:nth-of-type(5) {
        width: 90%;
        display: block;
        margin:  0 auto;
    }
    .data-container-1 div:nth-of-type(5) input {
        margin: 0 auto;
        width: 95%;
    }
    .data-container-5 textarea{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .table-style-items th {
        font-size: 15px;
    }
    .data-container-4 {
        width: 100%;
    }
    .data-container-4 select {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
    .data-container-5 textarea {
        width: 90%;
    }
}
/* app items responsive*/
@media screen and (max-width:550px){
    .container-add-items {
        width: 98%;
    }
}
/* app items responsive*/
@media screen and (max-width:355px){
    .container-add-items header {
        height: 100px;
    }
    .container-add-items header button {
        width: 70px;
        margin-left: 6px;
    }
    .button-div-close button {
        width: 75px;
        bottom: -1px;
        right: 10px;
        padding-left: 2px;
        padding-right: 2px;
    }
}
/* ends items responsive*/
/* responsive win loading */
@media screen and (max-width:320px){
    .responsive-win {
        height:auto;
        padding-bottom:15px;
        min-width: 160px;
    }   
}
@media screen and (max-width:355px){
    .data-container-2, .data-container-3, .data-container-4 {
        width: 100%;
        display: block;
    }
    .data-container-2 div, .data-container-3 div, .data-container-4 div {
        width:100%;
        padding-bottom: 10px;
        display:block;
        height:auto;
        margin:0;
    }
     .data-container-2 select, .data-container-3 select, .data-container-4 select {
        float: none;
        margin: 0 auto;
        width: 95%;
        text-align: center;
        margin:0 auto;
        display:block;
    }
    .data-container-2 span, .data-container-3 span, .data-container-4 span {
        margin: 0;
        width: 100%;
        text-align: center;
        display: block;
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .data-container-5 textarea {
        width: 80%;
    }
}