body {
    margin: 0;
    overflow:hidden
}
.container-all {
    width:100%; 
    height:100vh;
    overflow-y:scroll;

}
.main-container-app {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
.data-container-1 , .data-container-2, .data-container-3, .data-container-4{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.data-container-1 div, .data-container-2 div, .data-container-3 div, .data-container-4 div{
    width: 610px;
    height: 40px;
    margin: 5px;
}
.data-container-1 input, .data-container-2 select, .data-container-3 select, .data-container-4 select {
    float: right;
    width: 80%;
    height: 22px;
    margin-right: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
.data-container-1 span, .data-container-2 span, .data-container-3 span, .data-container-4 span {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}
.input-disable {
    background-color: white;
}
.add-accessories {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    padding-top: 10px;
}
/* second container app data form */
.main-container-app h2{
    text-align: center;
    background-color:#ddd;
}
.data-container-2 select, .data-container-3 select, .data-container-4 select {
    cursor: pointer;
}
.data-container-4 select {
    width: 90%;
    text-align: center;
}
.data-container-4 span {
    margin-right: 10px;
}
.data-container-5 textarea {
    width: 95%;
    display: block;
    margin:  0 auto;
    outline: none;
    margin-top: 20px;
}
.main-container-app button {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    font-style: 15px;
    cursor: pointer;
}
/* panel modal window*/
.panel-window {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.container-add-items {
    width: 90%;
    height: 90%;
    background-color: white;
    margin: 0 auto;
    position: relative;
    margin-top: 25px;
}
.container-add-items header {
    width: 98%;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-add-items header input {
    width: 40%;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
}
.container-add-items header button {
    width: 15%;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}
.container-table {
    width: 98%;
    height: 90%;
    display: block;
    margin: 0 auto;
    overflow-y: scroll;
}
.table-style-items {
    width: 98%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;
}
.table-style-items th, tr, td{
    border: 1px solid #dddddd;
    text-align: center;
}
.table-style-items th {
    padding: 2px;
}
.button-div-close {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-div-close button {
    width: 50%;
    height: 30px;
    cursor: pointer;
}
/* responsive win loading */
@media screen and (max-width:320px){
    .responsive-win {
        height:auto;
        padding-bottom:15px;
        min-width: 160px;
    }   
}