:root  {
    --elementWidth: 90%
}
body {
    margin: 0;
    overflow-y: hidden;
}
* {
    font-family: 'DM Sans', sans-serif;
}

.main-header {
    width: 100%;
    height: 50px;
    background: #00adef;  /* fallback for old browsers */
    display: flex;
    color: white;
}
.main-header .menu-bar {
    width: 50px;
    height: 48px;
    margin-left: 1px;
    margin-top: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.main-header .title-app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h2 {
    margin: 0;
}
.fa-arrow-right {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.container-request-main {
    width: 95%;    
    height: 90vh;
    margin: 0 auto;
    margin-top: 5px;
    overflow-y: scroll;
}

.container-request-main table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
.container-request-main table tr:hover {
    background-color: rgb(235, 235, 235);
}
.container-request-main th, tr td {
    border: 1px solid #ddd;
}
.container-request-main th {
    background-color: #00adef;
    color: white;
    padding: 1px;

}
.container-request-main table td {
    text-align: center;
}
.container-request-main table a {
    text-decoration: none;   
}

.button-accept, .button-refuse {
    width: 25px;
    height: 25px;
    background-color: red;
}
.accept-button {
    background-color: rgb(30, 219, 5);
    padding: 5px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
.refuse-button {
    background-color: red;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    border-radius: 2px;
    cursor: pointer;   
}
.background-panel-style {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}
.information-container-request {
    width: 900px;
    height: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 10px;
}
.information-container-request header {
    width: 100%;
    height: 30px;
    background-color:rgb(30, 219, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: sticky;
    top: 0px;
}
.container-data-information {
    width: 100%;
    height: 95%;
    margin: 0 auto;
    margin-top: 5px;
    overflow-y: scroll;
    padding: 5px;
    box-sizing: border-box;
}
.container-data-information::-webkit-scrollbar {
    width: 10px;
}
.container-data-information::-webkit-scrollbar-thumb:hover{
    background-color: rgb(190, 190, 190);
}
.container-data-information::-webkit-scrollbar-thumb{
    background-color: gainsboro;
}
.container-data-information h2 {
    text-align: center;
    font-size: 17px;
    background-color: #00adef;
    color: white;
    padding: 2px;
    border-radius: 5px;
}
.container-data-information h3 {
    margin: 0;
    display: inline-block;
    margin-left: 10px;
    padding: 2px;
    font-size: 17px;
}
.container-data-information input {
    width: 85%;
    float: right;
    margin-right: 10px;
    height: 20px;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
}
.container-data-information textarea {
    display: block;
    margin: 0 auto;
    width: 90%;
}
.container-data-information button:nth-of-type(1){
    background-color: rgb(30, 219, 5);
    float: left;
    margin-left: 40px;
}
.container-data-information button:nth-of-type(2){
    background-color: red;
    float:right;
    margin-right: 40px;
}
.container-data-information button:nth-of-type(1), button:nth-of-type(2) {
    border:none;
    font-size: 18px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.btn {
    font-size: 15px;
    margin: 0;
}
.btn-x {
    margin-right: 5px;
}
@media screen and (max-width:910px){
    .information-container-request {
        width: 98%;
    }   
}
@media screen and (max-width:840px){
    .information-container-request input{
        width: 80%;
    }   
}
@media screen and (max-width:800px){
    .main-header {
        height: 40px;
    }
    .main-header .menu-bar {
        width: 50px;
        height: 90%;
        margin-left: 1px;
        margin-top: 1px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
    }
    .main-header .title-app {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header h2 {
        margin: 0;
        font-size: 20px;
    }
}
@media screen and (max-width:730px){
    .information-container-request {
        height: 98%;
    }
    .information-container-request input{
        width: 70%;
    }  
    .information-container-request h2 {
        font-size: 17px;
    }
    .information-container-request input:nth-of-type(12) {
        width: 95%;
        text-align: center;
    }
    .fa-arrow-right {
        position: absolute;
        left: 0px;
        cursor: pointer;
        transform: rotateY(-190deg);
        width: 25px;
    }
}
@media screen and (max-width:600px){
    .container-request-main table {
        width: 98%;
        padding: 0;
        margin-left: 0px;
        margin: 0 auto;
    }
    .container-request-main table th, td {
        font-size: 14px;
    }
    .container-request-main {
        width: 100%;
    }
    .container-request-main i {
        font-size: 14px;
    }
}
@media screen and (max-width:450px){
    .information-container-request h3 {
        font-size: 15px;
    }
    .information-container-request input {
        margin: 0;
        display: inline;
        padding: 0;
    }
    .information-container-request input:nth-of-type(12) {
        width: 95%;
        text-align: center;
    }
}
@media screen and (max-width:355px){
    .information-container-request h3 {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .information-container-request input {
        float: none;
        width: 95%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (max-width:335px){
    .container-data-information button:nth-of-type(1), button:nth-of-type(2) {
        float: none;
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        width: 95%;
        margin: 0 auto;
        margin-top: 5px;
        
    }
    .container-data-information button:nth-of-type(2) {
        display: block;
        margin: 0 auto;
        float: none;
        margin-top: 5px;
    }
}
.section-search p{
    margin-left: 30px;
}
.styles-menu-dashboard {
    width: 300px;
    height:100%;
    background-color:#00adef;
}
.styles-menu-dashboard ul {
    font-size: 20px;
    list-style: none;
    padding:0;
    margin-top: 50px;
}
.styles-menu-dashboard li {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    padding-left: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    /* border-bottom: 1px solid #ddd; */
}
.styles-menu-dashboard li i:nth-child(1) {
    margin-right: 10px;
}
.styles-menu-dashboard li i:nth-child(2) {
    position: absolute;
    right: 10px;
}
.styles-menu-dashboard li:hover {
    padding-left: 15px;
    transition: .1s linear;
}
.styles-menu-dashboard li:hover {
    background-color: #0194ce;
}
.styles-menu-dashboard h2 {
    margin:0;
    text-align :center;
    color : white;
    font-size : 22px;
    padding-top : 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.styles-menu-dashboard h2 i {
    margin-right:5px;
}
.styles-menu-dashboard ul ul li {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
}
.styles-menu-dashboard ul ul {
    display: none;
    margin-top: 0;
    padding-left: 20px;
}
.close-menu-app {
    transform: translateX(-100%);
    transition: .5s;
}
/* form submenu click */
.form-sub-menu {
    width: 400px;
    height: 180px;
    background-color: #ddd;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-40%, -50%);
    border-radius: 10px;
    padding-top: 10px;
}
.form-sub-menu input {
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 5px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
.form-sub-menu button {
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 20px;
    border: none;
    border: 10px;
    background-color: rgb(30, 219, 5);
    color: white;
    padding: 5px;
    cursor: pointer;
}
.form-sub-menu nav {
    width: 100%;
    background-color: #00adef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form-sub-menu nav input {
    width: 85%;
    box-sizing: border-box;
    margin: 0;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    border-radius: 0;
    display: inline-block;
}
.form-sub-menu nav button {
    width: 100px;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    margin-left: 10px;
    outline: none;
}
.form-sub-menu table {
    width: 99.5%;
    border: 1px solid white;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 15px;
}
.form-sub-menu table th {
    border: 1px solid white;
    background-color: rgb(30, 219, 5);
    color: white;
    border-collapse: collapse;
}
.form-sub-menu tr td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}
.form-sub-menu table tr select {
    background-color:white;
    width: 100%;
    border: none;
    outline: none;
    padding: 2px;
    cursor: pointer;
    text-align: center;
}
.form-search-block-unblock-delete {
    width: 900px;
}
@media screen  and (max-width:910px){
    .form-search-block-unblock-delete {
        width: 98%;
    }
    
}
@media screen and (max-width:817px){
    .form-sub-menu nav input {
        width: 80%;
        box-sizing: border-box;
        margin: 0;
        height: 30px;
        margin-left: 10px;
        text-align: center;
        border-radius: 0;
        display: inline-block;
    }
}
@media screen and (max-width:800px){
    .form-sub-menu {
        width: 80%;
        left: 42%;
    }
    .form-search-block-unblock-delete {
        width: 98%;
    }
}
@media screen and (max-width:612px){
    .form-sub-menu {
        width: 80%;
        left: 42%;
    }
    .form-search-block-unblock-delete {
        width: 98%;
    }
    .form-sub-menu nav input {
        width: 75%;
    }
}
@media screen and (max-width:500px){
    .form-sub-menu {
        width: 98%;
        height: 180px;
        background-color: #ddd;
        position: relative;
        left: 0%;
        top: 25%;
        transform: translate(0%, 0%);
        border-radius: 10px;
        padding-top: 10px;
        display: block;
        margin: 0 auto;
    }
    .form-sub-menu nav input {
        width: 70%;
    }
}
@media screen and (max-width:408px){
    .form-sub-menu nav input {
        width: 70%;
    }
    .form-sub-menu nav button {
        width: 20%;
    }   
}